<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Vue.js PlayGround</title>
    <link href="main.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <h1>{{message}}</h1>
        <ol>
            <li v-for="item in array">{{item}}</li>
        </ol>
        <p>{{out}}</p>
        <input v-model="out">
        <button v-on:click="handleClick">Click</button>

        <p v-if="out">
            Not Empty
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>